<!DOCTYPE html>
<html>
  <head>
    <title>Login Todolist</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: pink;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }
      #content {
        background-color: #f0f0f0;
        width: 400px;
        height: 230px;
        margin: 0;
        border: 3px solid #aaa;
        margin-left: 280px;
        margin-top: 200px;  
      }
      #content2 {
        background-color: #f0f0f0;
        margin-left: 15px;
        margin-top: 15px;  
      }
      #content3 {
        background-color: #f0f0f0;
        margin-left: 40px;
        margin-top: 15px;  
      }
      #content4 {
        background-color: #f0f0f0;
        margin-left: 70px;
        margin-top: 20px;  
      }
    </style>
  </head>
  <body>
    <div id= "content">
      <div id= "content2">
        <img src="assets/tada-mark-small.gif" width="59" height="49" alt="Tada Mark Small">
        <div id= "content3">
          <h3>Username :<input></input></h3>
          <h3>Password :<input></input></h3>
          <div id= "content4">
            <input type="checkbox">Remember me<br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>  